<div class="d-flex justify-content-center">
  <h2>What's your favourite colour?</h2>
</div>

<div class="">
    <div class="d-flex flex-wrap justify-content-center">
      <% @colour_hash_key.values.shuffle.each do |colour| %>
       <div class="checkbox-div">
          <%= radio_button_tag "colour", @colour_hash_key.key(colour), false, class: "checkbox-element" %>
          <label for="colour_<%=@colour_hash_key.key(colour)%>" style="background-color:<%=colour%>;"><%=@colour_hash_key.key(colour)%></label>
        </div>
      <% end %>
    </div>
</div>
