<div class="">
    <div class="d-flex flex-wrap justify-content-center">
      <% @colour_hash_key.values.shuffle.each do |colour| %>
       <div class="checkbox-div">
          <%= radio_button_tag "colour", @colour_hash_key.key(colour), false, class: "colour-btn" %>
          <label for="colour_<%=@colour_hash_key.key(colour)%>" style="background-color:<%=colour%>;" data-action="click->question#select"><%=@colour_hash_key.key(colour)%></label>
        </div>
      <% end %>
    </div>
</div>
