
<form action="/movie-questions" method="post">
  <label for="question_text">Example of text input:</label><br>
  <input type="text" id="question_text" name="question_text"><br>

  <p>What genre of films do you like?</p>
  <input type="checkbox" name="question_genre1" value="Action">
  <label for="question_genre1">Action</label><br>
  <input type="checkbox" name="question_genre2" value="Comedy">
  <label for="question_genre2">Comedy</label>

  <p>How are you doing today?</p>
  <input type="radio" id="mood_happy" name="question_mood" value="Happy">
  <label for="mood_happy">🤩</label><br>
  <input type="radio" id="mood_neutral" name="question_mood" value="Neutral">
  <label for="mood_neutral">🙂</label><br>
  <input type="radio" id="mood_sad" name="question_mood" value="Sad">
  <label for="mood_sad">😭</label>
  <br>
  <%= hidden_field_tag :time_taken, :time %>
  <input type="submit" value="Roll" class="big-button" data-time-taken-target="roll" data-action="click->time-taken#time">

</form>
