<div class="">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="checkbox-div">
      <%= radio_button_tag :mood, "happy", false, class: "checkbox-emoji" %>
      <label for="mood_happy" style="" data-action="click->question#select">🤩</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :mood, "neutral", false, class: "checkbox-emoji" %>
      <label for="mood_neutral" style="" data-action="click->question#select">😐</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :mood, "sad", false, class: "checkbox-emoji" %>
      <label for="mood_sad" style="" data-action="click->question#select">😭</label>
    </div>

    <div class="checkbox-div">
      <%= radio_button_tag :mood, "bad", false, class: "checkbox-emoji" %>
      <label for="mood_bad" style="" data-action="click->question#select">🥴</label>
    </div>
  </div>
</div>
