.container-history {
  h1 {
    margin-top: 10px;
  }
  .star-gold {
    color: gold;
  }
  .header-movie {
    background-color: lightcoral;
  }

  .header-custom {
    background-color: bisque;
  }
}
