// Specific CSS for your home-page
.home-page {
  padding: 50px;
  h1 {
    font-size: 100px;
  }

  .h1-big {
    margin-bottom: 0;
    margin-top: 0px;
  }

  p, i {
    font-size: 30px;
  }

  .fa-square-xmark {
    color: #FF653E;
  }
  
  .fa-square-check {
    color: #01C97B;
  }
}
