// Specific CSS for your home-page
.home-page {
  padding: 50px;
  h1 {
    font-size: 100px;
  }
  .h1-big {
    margin-bottom: 0;
    margin-top: 50px;
  }
  p, i {
    font-size: 20px;
  }
  .fa-square-xmark {
    color: #FF653E;
  }
  .fa-square-check {
    color: #02C97B;
  }
  .get-started-btn{
    background-color: #5C78FF;
    border-radius: 8px;
    border: 4px solid white;
    padding: 15px;
    color: black;
  }
}
