<!-- Footer -->
<footer class="text-center text-lg-start">
  <!-- Section: Links  -->
  <section class="border-top" id="links">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4 text-reset">
            <i class="fas fa-gem me-3"></i>About us
          </h6>
          <p>
            DiceTo app was developed for undecisive people by undecisive developers Jan, Ronan and Jaro.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Categories
          </h6>
          <p>
            <%= link_to "Watch", movie_questions_path %>
          </p>
          <p>
            <%= link_to "Eat", restaurant_questions_path %>
          </p>
          <p>
            <%= link_to "Custom", custom_path%>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 text-reset">
            Total time saved
          </h6>
          <p>
            <a href="#!" class="text-reset">Many minutes</a>
          </p>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <!-- Grid column -->


        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->


  <!-- Section: Social media -->
    <!-- Left -->


    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  <!-- Section: Social media -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="www.diceto.net">diceto.net</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
