<div class="my-4 d-flex justify-content-center" id="step-box">
  <span span class="step active mx-2" data-question-target="step" data-action="click->question#switch"></span>
  <span class="step mx-2" data-question-target="step" data-action="click->question#switch"></span>
  <span class="step mx-2" data-question-target="step" data-action="click->question#switch"></span>
  <span class="step mx-2" data-question-target="step" data-action="click->question#switch"></span>
</div>