<div class="categories justify-content-center">
  <h1 class="text-center mb-5">Categories</h1>
  <p class="text-center">
    <%= link_to "Watch", movie_questions_path, class: "category-button-watch" %>
  </p>
  <p class="text-center">
    <%= link_to "Eat", movie_questions_path, class: "category-button-eat" %>
  </p>
  <p class="text-center">
    <%= link_to "Wear", movie_questions_path, class: "category-button-wear" %>
  </p>
  <p class="text-center">
    <%= link_to "Custom", custom_path, class: "category-button-custom"%>
  </p>
</div>
