<div class="container ">
  <h1 class="text-center">Categories</h1>


  <p class="text-center"><%= link_to "Custom", categories_path, class: "btn btn-primary" %></p>
  <p class="text-center"><%= link_to "Watch", movie_questions_path, class: "btn btn-warning" %></p>
</div>
