<div class="d-flex mt-5 container justify-content-center">
    <div class="mt-5">
        <h1 style="text-align: center; font-size: 60px;">
            Coming Soon!
        </h1>
        <p style="text-align: center; font-size: 14px;">
            DiceTo thanks you for your patience as we continue to help indecisive people around the world with winning their life back.
        </p>
        <div class="mt-5" style="text-align: center;">
            <%= link_to "Try another category", categories_path, class: "go-to-categories-btn" %>
        <div>
    </div>
</div>