<div class="container mt-5">
  <h1 class="text-align-start">Welcome to DiceTo</h1>
  <p>
    Don't waste anymore time! Roll with DiceTo...
  </p>
  <%= link_to "Get Started", categories_path, class: "btn btn-primary text-center mt-3" %>
</div>