<div class="background-image">
    <div class="home-page">
        <h1 class="h1-big">Dice</h1>
        <h1>To</h1>

        <div class="d-flex align-items-center mb-2 mt-5">
            <i class="fa-solid fa-square-xmark"></i>
            <span class="mx-2">Don't waste time!</span>
        </div>

        <div class="d-flex align-items-center mb-2">
            <i class="fa-solid fa-square-check"></i>
            <span class="mx-2">Decide faster!</span>
        </div>

        <div class="d-flex align-items-center mb-5">
            <i class="fa-solid fa-square-check"></i>
            <span class="mx-2">Have fun!</span>
        </div>

        <%= link_to "Get Started", categories_path, class: "go-to-categories-btn" %>
    </div>
</div>
