.accept-btn {
    background-color: #01C97B;
    border-radius: 8px;
    border: 4px solid white;
    padding: 15px;
    color: black;
}

.accept-btn:hover {
    background-color: #01C97B;
    border-radius: 8px;
    border: 4px solid white;
    padding: 15px;
    transform: scale(1.05);
    color: white;
}