.checkbox-div {
    position: relative;
}

.checkbox-element, .checkbox-element-decade,
.checkbox-emoji, .checkbox-weather, .colour-btn {
    position: absolute;
    transform: scale(0);
}

.checkbox-element + label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 40px;
    width: 250px;
    height: 250px;
    margin: 7px;
}

.checkbox-element:checked + label {
    color: white; 
    filter: brightness(110%);
    transform: scale(1.05);
    border: 5px solid white;
}

.checkbox-element:hover + label {
    color: white; 
    filter: brightness(110%);
    transform: scale(1.05);
    border: 5px solid white;
}


.checkbox-element-decade + label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #FFCA14;
    color: black;
    border: 20px solid #01C97B;
    border-radius: 10px;
    font-weight: 500;
    font-size: 40px;
    width: 250px;
    height: 250px;
    margin: 7px;
}

.checkbox-element-decade:checked + label {
    transform: scale(1.05);
    border: 5px solid white;
  }

.checkbox-element-decade:hover + label {
    filter: brightness(110%);
    transform: scale(1.05);
    border: 5px solid white;
}

@media screen and (max-width: 480px) {
    .checkbox-element-decade + label {
        width: 360px;
        height: 120px;
        border: 0px;
        border-radius: 0px;
        clip-path: polygon(28% 0, 100% 0, 71% 100%, 0 100%);
    }
  }