.colour-btn + label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 40px;
    width: 250px;
    height: 250px;
    margin: 7px;
}

.colour-btn:checked + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.05);
    border: 5px solid white;
}

.colour-btn:hover + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.05);
    border: 7px solid white;
}

@media screen and (max-width: 768px) {
    .checkbox-div > label {
        width: 6.5em;
        height: 6.5em;
        font-size: 16px;
        margin: 4px;
    }

    .colour-btn:hover + label {
        border: 4px solid white;
    }

    .colour-btn:checked + label {
        border: 4px solid white;
    }
}