.colour-btn + label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: black;
    border-radius: 10px;
    font-weight: 500;
    font-size: 40px;
    width: 250px;
    height: 250px;
    margin: 7px;
}

:checked + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.05);
    border: 5px solid white;
}

.colour-btn:hover + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.05);
    border: 5px solid white;
}

@media screen and (max-width: 480px) {
    .colour-btn + label {
        width: 140px;
        height: 140px;
        font-size: 24px;
        padding: 20px;
        margin: 5px;
    }
}