.go-to-categories-btn {
    background-color: #5C78FF;
    border-radius: 8px;
    border: 4px solid white;
    padding: 15px;
    color: black;
}

.go-to-categories-btn:hover {
    background-color: #5C78FF;
    border-radius: 8px;
    border: 4px solid white;
    padding: 15px;
    transform: scale(1.05);
    color: white;
}