.checkbox-emoji + label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50%;
    font-weight: 500;
    font-size: 150px;
    width: 250px;
    height: 250px;
    margin: 30px;
}

.checkbox-emoji:checked + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.2);
}

.checkbox-emoji:hover + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.2);
}

@media screen and (max-width: 480px) {
    .checkbox-emoji + label {
        display: flex;
        width: 40px;
        height: 40px;
        font-size: 60px;
        margin: 40px;
    }
}