.checkbox-emoji {
    position: absolute;
    transform: scale(0);
}

.checkbox-emoji + label {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 50%;
    font-weight: 500;
    font-size: 150px;
    width: 250px;
    height: 250px;
    margin: 30px;
    // filter: blur(1px);
}

.checkbox-emoji:checked + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.1);
    // border: 5px solid white;
  }

.checkbox-emoji:hover + label {
    color: white; 
    filter: brightness(90%);
    transform: scale(1.1);
    // border: 5px solid white;
}