.plus-button {
  --b: 9px; /* the thickness */
  width: 36px; /* the size */
  aspect-ratio: 1;
  border: 0px solid #01C97B; /* the outer space */
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#ffffff00 90deg,#01C97B 0) 
    calc(101% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
  display: inline-block;
}

.plus-button:hover {
  --b: 9px; /* the thickness */
  width: 36px; /* the size */
  aspect-ratio: 1;
  border: 0px solid #01C97B; /* the outer space */
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#ffffff00 90deg, #01C97B 0) 
    calc(100% + var(--b)/2) calc(100% + var(--b)/2)/
    calc(50%  + var(--b))   calc(50%  + var(--b));
  display: inline-block;
  transform: scale(1.05);
}
