.circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: rgb(44, 108, 128);
    position: relative;
  }
  .circle::after {
    content: " ";
    position: absolute;
    display: block;
    background-color: #fff;
    height: 10px;
    margin-top: -5px;
    top: 50%;
    left: 5px;
    right: 5px;
    z-index: 9;
  }
  .circle::before {
    content: " ";
    position: absolute;
    display: block;
    background-color: #fff;
    width: 10px;
    margin-left: -5px;
    left: 50%;
    top: 5px;
    bottom: 5px;
    z-index: 9;
  }