.star-rating {
    width: 23px; 
    height: 23px;
    margin: -2px;
    bottom: auto;
    pointer-events: none;
    transform: translate3d(15%,-80%,0);
}

.star-rating-show {
    width: 23px; 
    height: 23px;
    margin: -2px;
    bottom: auto;
    pointer-events: none;
    // transform: translate3d(15%,-80%,0);
}