<div class="container w-75 mt-5">

    <%= render 'form' %>

    <div class="d-flex justify-content-center mt-5">
        <%= link_to "ROLL", custom_results_path(@custom), class: "big-button" %>
    </div>

</div>